<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 映射器的命名空间-->
<mapper namespace="com.eoffice.category.mapper.ArticleMapper">

   <!--新增文章-->
   <insert id="add">
       insert into article(title,content,cover_img,state,category_id,create_user,create_time,update_time)
          values(#{title},#{content},#{coverImg},#{state},#{categoryId},#{createUser},#{createTime},#{updateTime})

   </insert>

    <!--  条件分页列表查询-->
    <select id="list" resultType="com.dong.model.article.pojos.Article">
        select * from article
        <where>
            <if test="categoryId!=null">
                category_id=#{categoryId}
            </if>

            <if test="state!=null">
                and state=#{state}
            </if>

            and create_user=#{userId}
        </where>
    </select>

    <!--  根据id删除文章-->
    <delete id="deleteById">
        delete from article where id=#{id}
    </delete>
    <!-- 通过id获取文章详情-->
    <select id="findById" resultType="com.dong.model.article.pojos.Article">
        select * from article where id = #{id}
    </select>

    <update id="update">
        <!--更新文章信息-->
           update article
           set title=#{title},
               content=#{content},
               cover_img=#{coverImg},
               state=#{state},
               category_id=#{categoryId},
               update_time=#{updateTime}
           where id=#{id}
       </update>


   </mapper>
